.carousel {
    position: relative;
    margin: 5px;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.slider {
    max-height: 250px;
    background-color: red;
    min-height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 5s ease-in-out;
}

.slider img {
    width: 100%;
    height: 100%;
    min-height: 150px;
    transition: 5s ease-in-out;
}

.l-arrow {
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: 45%;
}

.r-arrow {
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 45%;
}

.arrows {
    cursor: pointer;
}

.arrows:hover {
    background-color: rgb(255, 255, 255);
}

.dots {
    position: absolute;
    display: flex;
    bottom: 10px;
    /* left: 50%; */
}

.dot {
    margin: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
}

.active-dot {
    margin: 5px;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}

.dot:hover {
    background-color: rgb(255, 0, 0);

}