.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 10px;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 7vh;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.85);
    transition: 0.2s;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    border-radius: 50%;
    overflow: hidden;
    width: 35px;
    height: 35px;
}

/* ----------- search box ----------- */
.serach-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 25px;
    width: 40%;
    background-color: rgb(250, 250, 250);
    border-radius: 5px;

}

.search-bar {
    font-size: 15px;
    width: 90%;
    height: 25px;
    padding: 0 5px;
    border: none;
    border-radius: 5px;
}

.search-btn {
    margin: 0;
    padding: 5px;
    height: 25px;
    cursor: pointer;
    border: 1px solid rgb(252, 252, 252);

    border-radius: 5px;
    color: white;
    background-color: rgb(0, 55, 96);
}

.search-btn:hover {
    color: white;
    background-color: rgb(0, 55, 96);
    border: 1px solid rgb(252, 252, 252);
    transition: all 0.1s ease-in-out;
}

.s_suggestion {
    position: absolute;
    left: 0;
    top: 31px;
    width: 100%;
    /* height: 50px; */
    background-color: rgb(250, 250, 250);

}

.s_suggestion_box {
    background-color: white;
    padding: 0 1px;
}


.box_ul_li {
    margin: 3px 0;
    padding: 5px 0;
    border-radius: 5px;
    overflow: hidden;
    max-height: 25px;
    display: flex;
    justify-content: space-between;

}

.box_ul_li:hover {
    background-color: rgb(240, 240, 240);
}

.box_ul_li p {
    color: black;
    margin: 0 5px;
    font-size: small;
    /* background-color: aqua; */
}

.cart {
    position: relative;
}

.cart_notification {
    top: 55px;
    /* left: 20px; */
    position: absolute;
    background-color: rgb(255, 55, 0);
    z-index: 2;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cart_notification p {
    /* background-color: rgb(186, 180, 180); */
    font-size: 12px;
    color: gold;
}

/* -------- nav menu --------- */
.nav-menu {
    display: flex;
}

.menu-icon {
    display: none;
}

.nav-menu ul {
    visibility: visible;
    display: flex;

}

.nav-menu ul li {
    margin: 0 10px;
    font-size: 12px;
}

.nav-menu ul li a {
    gap: 3px;
    font-size: larger;
    display: flex;
}

.nav-menu ul li :hover {
    color: gold;
    border-bottom: 1px solid red;
}




@media screen and (max-width:1040px) {
    .nav-menu {
        position: relative;
        width: 30px;
        height: 30px;
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        /* transition: 0.1s; */
    }

    .menu-icon {
        display: flex;
    }

    .nav-menu ul {

        position: absolute;
        display: flex;
        flex-direction: column;
        right: -10px;
        top: 35px;
        transition: 0.2s;
    }

    .nav-menu ul li {
        padding: 5px;
        border: 1px solid rgb(0, 0, 0);
        background-color: rgba(8, 7, 7, 0.826);
    }

    .nav-menu ul li a {
        gap: 5px;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        height: 7vh;
    }

    .serach-box {
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* height: 30px; */
        width: 350px;
        min-width: 300px;
    }

    .search-bar {
        font-size: 14px;
    }



    .logo h2 {
        font-size: large;
    }
}

@media screen and (max-width:800px) {
    .logo h2 {
        display: none;
    }
}

@media screen and (max-width:640px) {

    .logo h2 {
        display: none;
    }

    .serach-box {
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* height: 30px; */
        width: 350px;
        min-width: 300px;
        /* background-color: rgb(250, 250, 250); */
    }

    .search-bar {
        font-size: 12px;
    }

}



@media screen and (max-width:460px) {


    .serach-box {
        position: absolute;
        right: 0;
        top: 7vh;
        margin: 0 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* height: 30px; */
        width: 80%;
        min-width: 250px;
        background-color: rgb(250, 250, 250);
    }

    .search-bar {
        font-size: 12px;

    }

    .logo h2 {
        display: none;
    }
}