.header {
    background-color: rgb(210, 220, 231);
    /* margin-top: 7vh; */
    display: flex;
    align-items: center;
    position: relative;
    z-index: -1;
}

.header-options {
    display: flex;
    align-items: center;
}

.book-dropdown {
    margin-left: 5px;
    height: 5vh;
    max-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown {
    display: flex;
    gap: 5px;
    padding: 0 5px;
    font-weight: 600;
    cursor: pointer;

}

.dropdown div p {
    color: black;
}

.faCaretDown {
    transition: 0.5s;
}

.faCaretDown-active {
    transition: 0.5s;
    cursor: pointer;
    transform: rotate(-180deg);
}

.menu-options {
    width: auto;
    position: absolute;
    bottom: 30px;
    left: 0;
    transition: 1s;
    z-index: 2;
    visibility: hidden;
    display: none;
}



.menu-options-active {
    width: 150px;
    background-color: rgb(235, 235, 235);
    position: absolute;
    z-index: 2;
    left: 0;
    transition: 2s;
    top: 5vh;
}

.menu-option {
    width: 100%;
    padding: 5px;
    transition: 0.2s;
}

.menu-option:hover {
    background-color: rgb(255, 255, 255);
    /* color: red; */
    border-bottom: 1px solid red;
    /* outline: 1px solid red; */
}



.popular-cat {
    display: flex;
    flex-wrap: wrap;
    border-left: 1px solid black;
    max-height: 7vh;
    overflow: hidden;
}

.option p {
    color: black;
    font-size: 14px;
}


.sep {
    border: 1px solid tomato;
}

.header-options ul li {
    margin: 3px;
    padding: 0px 3px;
    cursor: pointer;
}

.option:hover {
    text-decoration: 2px underline red;
}


@media screen and (max-width:460px) {
    .popular-cat {

        display: none;
    }

}