.outer_container {
    /* background-color: rgb(224, 242, 242); */
    margin: 0 auto;
    padding: 5px 20px;
    width: 80vw;
    height: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.list_container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}


.top_header {
    width: 80%;
    margin: atuo;
    position: absolute;
    display: flex;
    justify-content: space-between;

}

.current_page {
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(227, 219, 210);
}

.sort_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sort {
    background-color: rgb(227, 219, 210);
    border: none;
    padding: 5px 10px;
    outline: none;
}

.sort:hover {
    cursor: pointer;
}


.list_book_box {
    height: 300px;
    width: 480px;
    background-color: rgb(227, 219, 210);
    border: 1px solid rgb(189, 189, 189);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.list_book_box:hover {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border: 1px rgb(0, 0, 0) solid;
}

.list_book_img_container {
    width: 180px;
    height: 280px;
    border: 1px solid rgb(186, 186, 186);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;

}

.list_book_img_container img {
    width: 150px;
    height: 220px;
}



.all_images_box {
    height: 35px;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    /* background-color: #a72424; */
}

.all_images {
    width: 35px;
    height: 35px;
    margin: 0 2px;
    overflow: hidden;
    border: 1px solid rgb(161, 161, 161);
    /* background-color: aqua; */

}

.all_images img {
    width: 25px;
    height: 35px;
    margin: 0 5px;
    overflow: hidden;
}


/* to view images */
.view_images {
    position: absolute;
    right: -10px;
    top: -40px;
    z-index: 5;
    width: 95vw;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.779);
}


/* details of book CSS */
.list_book_details {
    position: relative;
    background-color: rgb(224, 224, 224);
    width: 270px;
    height: 97%;
    padding: 10px 0;
}

.cross {
    top: 10px;
    right: 10px;
    position: absolute;
    background-color: white;
    border-radius: 50%;

}


.cross :hover {
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
}

.list_book_no {
    position: absolute;
    top: 5px;
    right: 5px;
}

p {
    padding-left: 10px;
    font-size: 14px;
    margin: 3px 0;
}

.list_book_title {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
}


.list_book_isbn img {
    width: 150px;
    height: 40px;
}


.list_book_prices {
    display: flex;
    width: 150px;
    border: 1px solid black;
}

.list_book_discount {
    width: 100px;
    height: 30px;
    background-color: red;
    color: white;
    font-weight: 600;
    padding: 0;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.more_details {
    position: absolute;
    bottom: 50px;

    right: 20px;
    font-size: 12px;
    text-decoration: underline;
}

.more_details:hover {
    color: red;
    cursor: pointer;
}

.btns {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    left: 20px;
    gap: 10px;

}

.btns .btn {
    border: 1px solid rgb(40, 40, 40);
    background-color: rgb(218, 204, 6);
    padding: 5px 15px;
    /* border-radius: 5px; */
    font-weight: 200;
    font-size: 14px;
    cursor: pointer;
    transition: 0.1s;

}

.btn:hover {
    color: rgb(255, 255, 255);
    border: 1px solid black;
    background-color: rgba(36, 33, 2, 0.515);
}


/* pagination_CSS */
.pagination_box {
    margin: auto;
}

.pagination button {
    margin: 10px 5px;
    padding: 5px 10px;
    font-size: small;
    cursor: pointer;
}

.pagination button:disabled {

    cursor: not-allowed;
}


/* no_result_found */
.no_result_found {
    background-color: rgb(240, 240, 240);
    width: 80vw;
    margin: 40px 5px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.no_result_found p {
    font-size: larger;
}

/* loading */
.loading {
    position: inherit;
    width: auto;
    height: auto;
    background-color: transparent;
    font-size: 20px;
}

.loading p {
    font-size: 20px;
}

.showMore {
    position: absolute;
    right: 10px;
}

.showMore p {
    color: black;
    text-decoration: underline;
    font-size: 12px;
}

.showMore p:hover {
    cursor: pointer;
    color: red;
}

.showimages {
    width: 95vw;
    height: 95vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 25px;
    top: 15px;
    z-index: 55;
    background-color: rgba(0, 0, 0, 0.887);
    overflow: hidden;
    box-shadow: 0px 50px 100px black;

}

.active_image {
    overflow: hidden;
    margin-bottom: 10px;
}

.active_image img {
    /* width: 700px; */
    margin: 0 auto;
    height: 450px;
    margin-top: 40px;

}


.img_box_container {

    display: flex;
    justify-content: center;
    /* background-color: rgb(39, 163, 66); */
}

.image_Box {
    /* background-color: rgb(255, 9, 255); */
    margin: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    border: 1px solid black;

}

.image_Box img {
    width: 30px;
    height: 40px;
    margin: auto;
}

input:hover {
    cursor: pointer;
}